@import './tools/variables.scss';

.nav{
    grid-column: sidebar-start/sidebar-end;
    margin: auto;
    position: sticky;
    top: 15%;
    overflow: hidden;
    z-index: 3;
    margin: 0;
    @media only screen and (max-width: $bp-mobile-l){
        display: none;
        visibility: hidden;
        position: absolute;
    }
    &__list{
        list-style: none;
       
        &-item{
            &:not(:last-child){
                margin-bottom: 4rem;
                @media only screen and (max-width: $bp-mobile-l){
                    margin-bottom: 0;
                    display: none;
                    visibility: hidden;
                    position: absolute;
                }
            }
            
        }

        @media only screen and (max-width: $bp-mobile-l){
            top: 0;
            height: 0;
            display: none;
            visibility: hidden;
            position: absolute;
         }
    }
    &__link{
            text-decoration: none;
            font-size: 1.6rem;
            border-left: .5rem solid rgba($secondary-color, .4);
            color: rgba(#000000, .4);
            cursor: pointer;
            transition: .3s;
            &:hover{
                color: rgba(#000000, 1);
                border-left: .8rem solid $color-primary-dark;
                overflow: hidden;
            }   
            &:active{
                color: rgba(#000000, 1);
                border-left: .8rem solid $color-primary-dark;
            }
    }
}